@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;

}

.auth_field_container{
    height: 100%;
    width: 100%;
}

.auth_field {
    position: absolute;
    height: 60%;
    width: 35%;
    left: 32.5%;
    top: 16%;
}

.auth_text {
	font-size: 25px;
	line-height: 1.9;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 2%;
    padding-top: 2%;
}

.auth_field_container .buttons {
    text-align: center;
    margin-top: 5%;
}

.auth_field_container button{
    cursor: pointer;
    font-size: 27px;
    color: white;
    background-color: #cd00d1;
    border-style: none;
	border-radius: 20px;
	padding: 7.5px;
	padding-left: 30px;
	padding-right: 30px;
}

.text_before_login {
    font-size: 20px;
    color: white;
}

.button-login {
    text-decoration: none;
    color: white;
    background-color: #0e1627;;
	border-radius: 20px;
	padding: 5px;
	padding: 7.5px;
	padding-left: 30px;
	padding-right: 30px;
}

.auth_field_container input {
    width: 100%;
    color: white;
    padding-left: 1%;
    font-size: 25px;
    outline: none;
    border-style: solid;
    border-color: pink;
    background-color: #14396C;
    border-radius: 10px;
}